@import '~@/styles/parameters.less';

.wrapper {
  position: fixed;
  right: @base-padding * 2;
  top: @base-padding * 2;
  background: @white;
  border-radius: @base-padding;
  box-shadow: @panel-default-box-shadow;

  width: @main-board-width;
  box-sizing: border-box;

  color: @text-color;
  display: flex;
  flex-flow: column nowrap;
  padding: 20px 0 @base-padding * 8;

  .header {
    margin-bottom: @base-padding;
    font-size: @font-size-lg;
    font-weight: 500;
    color: @text-primary;
    padding: 0 @base-padding * 3;
  }

  .close {
    position: absolute;
    right: @base-padding * 3;
    top: @base-padding * 3;
    cursor: pointer;
  }

  .items {
    margin-top: @base-padding;
    height: 332px;
    will-change: height;
    transition: height 0.3s ease;

    &.unlogin {
      height: 180px;
    }

    .login {
      min-height: 100px;
      margin: @base-padding * 2 0;

      .icon {
        display: flex;
        justify-content: center;
        margin-bottom: @base-padding * 2;

        &img {
          width: 80px;
        }
      }
    }
  }

  .account {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 0 @base-padding * 3 20px;
    box-sizing: border-box;

    display: flex;
    justify-content: space-between;
    flex: 0 0 auto;
  }
}

.hidden {
  display: none;
}

.settings {
  display: flex;
  gap: 4px;
  color: rgba(0, 0, 0, .45);
  text-decoration: none;
  align-items: center;
  cursor: pointer;

  .icon {
    font-size: @font-size;
    margin-right: 4px;
  }
}
