@import '~@/styles/parameters.less';

.wrapper {
  .button {
    margin-top: @base-padding * 2;
  }

  .actionTip {
    margin-bottom: @base-padding;
  }

  .clipTarget {
    margin-top: @base-padding * 2;
  }

  .list {
    width: 100%;
  }

  .editor {
    position: fixed;
    right: @main-board-width + @base-padding * 4;
    top: @base-padding * 2;
    padding: @base-padding * 2;
    background: #fff;
    border-radius: @base-padding;
    box-shadow: 0 8px 16px 4px rgba(0, 0, 0, 40%);
    color: @text-color;
    width: @main-editor-width;
    min-height: @main-editor-width;
    max-height: 640px;
    overflow-y: scroll;
    user-select: none;
    box-sizing: border-box;
  }
}
