@import '~@/styles/parameters.less';

.pageWrapper {
  height: 100vh;
  width: 100vw;
  display: flex;
  .left {
    width: 256px;
    flex: 0 0 auto;
    background: #FCFCFC;
    padding: 24px 16px;

    .header {
      font-size: 20px;
      line-height: 24px;
      color: @text-primary;
      font-weight: 500;
      margin-bottom: 24px;
    }

    .menu {
      margin: 0;
      display: flex;
      flex-direction: column;
      gap: 10px;

      .menuItem {
        padding: 5px 16px;
        font-size: @font-size;
        line-height: 22px;
        color: @text-primary;
        border-radius: 6px;
        cursor: pointer;

        &:hover {
          background-color: @grey-2;
        }
      }

      .menuItemSelect {
        font-weight: 500;
        background-color: @grey-2;
      }
    }
  }

  .right {
    width: calc(100vw - 256px);
    padding: 24px 50px;
    overflow-y: auto;

    .pageTitle {
      font-size: 20px;
      line-height: 28px;
      color: @text-primary;
      font-weight: 500;
      margin-bottom: 24px;
    }
  }
}

.hidden {
  display: none;
}
