@import '~@/styles/parameters.less';

.wrapper {
  background-color: @white;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;

  .loadingWrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .tip {
      color: #00B96B;
      margin-top: 16px;
    }
  }

  .headerWrapper {
    flex: 0 0 auto;
    display: flex;
    padding: 16px 18px 0;
    gap: 20px;

    .headerItem {
      cursor: pointer;
      font-size: @font-size;
      color: @text-primary;
      padding: 3px 6px;
      border-radius: 6px;
      white-space: nowrap;
      display: flex;
      align-items: center;

      .icon {
        font-size: @font-size-lg;
        margin-right: 8px;
      }

      &:hover {
        background: @bg-primary-hover;
      }
    }
  }

  .titleWrapper {
    flex: 0 0 auto;

    .title {
      padding: 0 24px;
      color: @text-primary;
      font-weight: 500;
      font-size: @font-size-lg;
      outline: none;
      border: none;
      resize: none;
      font-family: @font-family;
      width: 100%;
      box-shadow: none;
      line-height: 22px;
      margin-top: 12px;

      &:hover, &:focus {
        border: none;
        box-shadow: none;
      }

      &::placeholder {
        font-weight: 500;
      }
    }
  }

  .none {
    display: none;
  }

  .editorWrapper {
    flex: 1 1 auto;
    overflow: hidden;
  }

  .saveOptionWrapper {
    flex: 0 0 auto;
    padding: 0 16px 24px;
    display: flex;
    justify-content: space-between;

    .savePositionWrapper {
      display: flex;
      gap: 8px;
    }
  }
}
