@import '~@/styles/parameters.less';

// 侧边栏样式
.sidePanelWrapper {
  position: fixed;
  right: 0;
  top: 0;
  z-index: @z-index-max;
  display: none;

  &.sidePanelWrapperVisible {
    display: block;
  }

  .sidePanelIframeWrapper {
    display: flex;
    flex-direction: row-reverse;

    .sidePanelIframe {
      border: none;
      margin: 0;
      padding: 0;
      min-height: 0;
      min-width: 0;
      overflow: hidden;
      transition: initial;
      height: 100vh;
      width: 100%;
      color-scheme: none;
      user-select: none;
    }
  }
}

// 全局 message 样式
.showMessageContainer {
  .showMessageWrapper {
    display: flex;
    font-size: @font-size;

    .showMessageText {
      font-size: @font-size;
    }

    .showMessageHref {
      color: @link-color;
      outline: none;
      text-decoration: none;
      margin-left: 8px;
    }
  }

  :global {
    .yuque-chrome-extension-message-custom-content {
      display: inline-flex;
    }
  }
}

