@import '~@/styles/parameters.less';

.wrapper {
  display: flex;
  flex-direction: column;
  max-width: 668px;

  .link {
    font-size: @font-size;
    line-height: 22px;
    color: @text-primary;
    margin-bottom: 12px;
    display: flex;
    justify-content: space-between;

    span {
      cursor: pointer;
    }

    .icon {
      color: @text-primary;
      transform: rotate(-90deg);
    }
  }

  .link:last-child {
    margin-bottom: 0;
  }
}
