@import '~@/styles/parameters.less';

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;

  .item {
    font-size: 16px;
    color: @grey-9;

    span {
      cursor: pointer;
    }
  }
}
